<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="/css/blog.css" rel="stylesheet" />
    <title>Blog</title>
  </head>
  <body>
    
        <div class="container">
    <% include partials/_navbar.html %>
    <h1 style="margin-top: 10px; margin-bottom: 10px">A simple CRUD blog</h1>
      <ul class="list-group" id="Blog">
         <% if (posts.length >0) {%>
          <% for(let i = 0; i < posts.length; i++) { %>
            <li class="list-group-item">
          <div>
            <h3>
              <%= posts[i].title %>
            </h3>
            <h6>
              from <%= posts[i].author %> created at: <%= posts[i].createdAt.toDateString() %>
            </h6>
          </div>
        </br>
          <article>
            <p><%= posts[i].post %></p>
          </article>
          

          <a
            href="/delete/<%=posts[i].id %>"
            class="btn btn-danger btn-xs"
            style="float: right; margin-left: 10px"
            >Delete</a
          >
          <a
            href="/editPost/<%=posts[i].id %>"
            class="btn btn-success btn-xs"
            style="float: right;"
            >Edit</a
          >
        </li>
        <% } %>
        <% }  else {%>

          <h6 style="margin-top: 10%">There are no Post yet. Click 'Create new Post' for your first blog post </h6>

          <% } %>
      </ul>
    </div>
  </body>
</html>
